.back {
  width: 180px;
  height: 252px;
}

.card {
  /*position: relative;
  transition: all 1s;
  transform-style: preserve-3d;*/
}

:hover .back {
  transform: rotateY(180deg);
  backface-visibility: visible;
}

.front, .back {
  /*position: absolute;
  /*backface-visibility: hidden;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
  border-radius: 8px;*/
}

.back {
  /*z-index: 3;*/
  transition: all 1s;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82473/bicycle-card.jpg') 0 0 no-repeat;
}
