.random-reader {
  margin: auto;
  text-align: center;
}

.text-element {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  display: block;
}

button {
  display: inline-block;
  font-size: 2rem;
}

.previous {
  float: left;
}

.next {
  float: right;
}
