.random-reader {
  margin: auto;
  text-align: center;
}

.text-element, button {
  display: block;
}

.text-element {
  text-align: center;
  font-size: 4rem;
  display: block;
}

button {
  display: block;
  font-size: 2rem;
}
