.controls {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.controls button {
  color: azure;
  background-color: rgba(140, 0, 240, 0.2);
  outline:none;
  border: none;
  border-radius: 0.2rem;
  line-height: 2rem;
  font-size: 1.8rem;
  text-align: center;
  display: inline-block;
  width: 8rem;
}

.calcul {
  margin: 1rem 0;
  color: rgba(75, 0, 130, 0.51);
  font-size: 1.5rem;
  display: flex;
  align-content: center;
}

.number-zone {
  text-align: center;
}

.number-zone input {
  width: 9rem;
  font-size: 1.5rem;
  color: azure;
  background-color: rgba(140, 0, 240, 0.2);
  border-color: rgba(75, 0, 130, 0.51);
  outline:none;
}

.solution {
  color: rgba(234, 74, 98, 0.93);
}

.calcul-expression, .number-zone {
  display: inline-block;
  margin-left: 0.5rem;
}

.right-answer-sign {
  color: #a3ff46;
  margin-left: 1rem;
}
